<% content_for :title, "active events" %>

<section class="page-header text-center">
  <h1 class="page-title">active events</h1>
</section>

<div class="row g-4 competitions-grid">
  <% @competitions.each do |competition| %>
    <div class="col-12 col-md-6 col-xl-4">
      <article class="competition-card h-100">
        <div class="competition-top-border" aria-hidden="true"></div>
        <div class="competition-body">
          <h2 class="competition-name"><%= competition.name %></h2>
          <p class="competition-date">Ends: <%= competition.date&.strftime("%-m/%-d/%Y") || competition.date %></p>
          <div class="competition-links">
            <%= link_to "View Details", competition_path(competition), class: "competition-link" %>
            <%= link_to "Sample Climb", competition_climb_path(competition, 1), class: "competition-link" %>
          </div>
        </div>
      </article>
    </div>
  <% end %>
</div>
